<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
<h1>Sistema de Administración de Personas (SAP)</h1>
<div>
    Numero de personas: {{numero_personas}}
</div>

<!--Iteramos todos los objetos de nuestra lista-->
<div>
    <ul>
        {% for persona in personas%}
        <li>Persona {{persona.id}} :
            {{persona.nombre}} :
            {{persona.apellido}} :
            {{persona.email}}
            <a href="detalle_persona/{{persona.id}}">Ver detalle</a>
        </li>
        {% endfor%}
    </ul>
</div>
</body>
</html>